# Proyecto ya tiene su propio repositorio
01-Clases-2023_2
07-Repo
Imagenes
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2Soft/build/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftRRHH/build/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftGestClientes/build/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftLogistica/build/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftDBManager/nbproject/private/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftDBManager/build/
04-Codigo-Clases/C8-09-01-23--09-08-23!/ProyectosJAVA/LP2Soft/src/pe/edu/pucp/lp2soft/lib/mysql-connector-j-8.1.0.jar
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftDBManager/dist/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftRRHH/dist/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftGestClientes/dist/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftLogistica/dist/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2Soft/dist/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftGestClientesModel/nbproject/private/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftLogisticaModel/nbproject/private/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftRRHHModel/nbproject/private/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftRRHHController/nbproject/private/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftLogisticaController/nbproject/private/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftGestClientesController/nbproject/private/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftGestClientesModel/build/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftRRHHModel/build/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftRRHHModel/dist/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftGestClientesModel/dist/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftLogisticaModel/build/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftRRHHController/build/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftLogisticaModel/dist/
04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2SoftRRHHController/dist/
/04-Codigo-Clases/C8-09-01-23--09-08-23/ProyectosJAVA/LP2Soft/nbproject/private/
/04-Proyecto-LP2Soft/ServiciosWeb/JAVA/WebServices/nbproject/private/
/04-Proyecto-LP2Soft/ServiciosWeb/JAVA/WebServices/build/
/04-Proyecto-LP2Soft/ServiciosWeb/JAVA/WebServices/dist/
/04-Proyecto-LP2Soft/ServiciosWeb/JAVA/ClienteJAVA/nbproject/private/
/04-Proyecto-LP2Soft/ServiciosWeb/JAVA/ClienteJAVA/build/
/04-Proyecto-LP2Soft/ServiciosWeb/JAVA/ClienteJAVA/dist/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2Soft/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftDBManager/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftGestClientesController/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftGestClientesModel/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftLogisticaController/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftLogisticaModel/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftRRHHController/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftRRHHModel/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftWebServices/nbproject/private/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftDBManager/dist/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftDBManager/build/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftRRHHModel/build/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftRRHHController/build/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftRRHHModel/dist/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftWebServices/build/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftRRHHController/dist/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2Soft/build/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftGestClientesModel/build/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftLogisticaModel/build/
/04-Proyecto-LP2Soft/BackJava_FrontCSharp/JAVA/LP2SoftWebServices/dist/
/04-Proyecto-LP2Soft/OtrasTecnologias/RMI/RMIServer/nbproject/private/
/04-Proyecto-LP2Soft/OtrasTecnologias/RMI/RMIServer/build/
/04-Proyecto-LP2Soft/OtrasTecnologias/RMI/RMIClient/nbproject/private/
/04-Proyecto-LP2Soft/OtrasTecnologias/RMI/RMIInterfaces/nbproject/private/
/04-Proyecto-LP2Soft/OtrasTecnologias/RMI/RMIInterfaces/build/
/04-Proyecto-LP2Soft/OtrasTecnologias/RMI/RMIClient/build/
/04-Proyecto-LP2Soft/OtrasTecnologias/RMI/RMIClient/dist/
